@model CodeProject.MVC7Days.ViewModels.ViewEmployeeViewModel

    @{
        Layout = "~/Views/Shared/_MyLayout.cshtml";
    }

    @section TitleSection{
        ViewEmployee
    }

    @section ContentBody{
        <div>
            <table>
                <tr>
                    <td>
                        Employee Name:
                    </td>
                    <td>
                        @Html.DisplayTextFor(employee => employee.EmployeeName)
                    </td>
                </tr>
                <tr>
                    <td>
                        Salary:
                    </td>
                    <td>
                        @Html.DisplayTextFor(employee => employee.Salary)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.ActionLink("Back", "Index")
                    </td>
                </tr>
            </table>
        </div>
    }